/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #008080
$textColor = #2c3e50
$borderColor = rgba(0,0,0,.10)
$codeBgColor = #000
$arrowBgColor = #ccc

$footerBgColor = $accentColor
$footerColor = #000000

// layout
$contentWidth = 800px
